body{
    height: 100vh;
    background: radial-gradient( circle at center, #00001e, black);
}
.App {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    color:white;
    font-weight: 100;
}
.App h1{
    font-weight: 400;
    font-size: 40px;
    text-shadow: 1px 1px 5px white;
}
.calculator {
    width: 400px;
    height: 600px;
    padding: 40px;
    box-shadow: -1px 1px 5px rgba(159, 159, 159, 0.5);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000000;
}

.calculator-panel {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

.calculator-input{
    height: 20%;
}
.calculator-input input{
    border: none;
    text-align: end;
    background: #00000000;
    color:white;
    font-size: 30px;
    height: 60px;
    margin: auto;
}
.calculator-input input:focus{
    outline: none;
}

.calculator-buttons {
    height: auto;
    flex: 1 1 auto;
    font-size: 24px;
}

.calculator-buttons table {
    width: 100%;
    height: 320px;
}

.calculator-buttons table tr {
    height: 30px;
}

.calculator-buttons table td {
    width: 25%;
    height: 20px;
    cursor: pointer;
    user-select: none;
}

.calculator-buttons table td:hover {
    background-color: #101010;
}

.calculator-buttons table .useCalc {
    background-color: #ff6a00;
}

.calculator-buttons table .useCalc:hover {
    background-color: #ff7813;
}
.calculator-buttons table tr:last-child{
    height: 10px;
}
.calculator-buttons table .equal {
    background-color: #ff6a00;
    height: 10px;
    line-height: 20px;
}

.calculator-buttons table .equal:hover {
    background-color: #ff7715;

}